{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class="container">
    <div class="chat_header">
        <div>
            <h3>See what is going on in the DAAS community</h3>
        </div>
        
        <div class="chat_search">
            <form action="">
                <input type="text" class="form-control input-text" placeholder="Search products...." aria-label="Recipient's username" aria-describedby="basic-addon2" style="border: none;">
                <div class="input-group-append"> 
                    <button class="btn btn-lg" style="border: none;" type="button">
                        <i class="fa fa-search"></i>
                    </button> 
                </div>
            </form>         
            
        </div>
    </div>
    <div class="p-5"> 
        <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width:60px;height:60px" alt="Avatar">
            <i class="fas fa-user-alt fa-3x text-info"></i>
        </div>  
    </div>
    
    <div class="p-5"> 
        <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width:60px;height:60px" alt="Avatar">
            <i class="fas fa-user-alt fa-3x text-info"></i>
        </div>  
    </div>
    
    <div class="p-5"> 
        <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width:60px;height:60px" alt="Avatar">
            <i class="fas fa-user-alt fa-3x text-info"></i>
        </div>  
    </div>
    
    <div class="p-5"> 
        <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width:60px;height:60px" alt="Avatar">
            <i class="fas fa-user-alt fa-3x text-info"></i>
        </div>  
    </div>
    
    <div class="p-5"> 
        <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width:60px;height:60px" alt="Avatar">
            <i class="fas fa-user-alt fa-3x text-info"></i>
        </div>  
    </div>
    
</div>




{% endblock %}