{% extends "layout.html" %}

{% load static %}

{% block body %}
{% load humanize %}
<div class="container chatpage" style="background-color: white; width: 100%; height: 650px; padding: 30px;">
    
    <form action="{% url 'chat' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Post Comment </label>
            <input type="text" class="form-control" name="comment" placeholder="Enter comment here">
        </div>    
        <input type="submit" value="Submit">
    </form>
    
    {% for post in posts %}
        <div class="row my-3">
            <div class="col-md-1 ">
                <img class="rounded mx-auto d-block w-100 p-2" src="{% static 'images/user2.png' %}"  alt="user">
            </div>
            <div class="col-md-11 "> 
                <b> mike </b> <span class="badge badge-secondary ">{{ post.date| naturaltime }}</span>
                <div>{{ post.message }}</div>
                <div class="reply mx-0">            
                    <button class="btn btn-sm btn-primary" onclick="" id="reply{{post.id}}" type="button" data-toggle="collapse" data-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
                        Reply
                    </button>
                    <div class="collapse" id="replyBoxreply{{post.id}}">
                        <div class="card card-body my-2">
                            <form action="{% url 'chat' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="comment">Post a reply </label>
                                    <input type="text" class="form-control" name="reply" placeholder="Enter comment here">
                                    <input type="hidden" name="parentSno" value="{{post.id}}">
                                </div>
                                <!-- <input type="hidden" name="postSno" value="{{post.id}}"> -->
                                <button type="submit" class="btn btn-primary" id="btn{{post.id}}">Submit</button>
                            </form>
                        </div>
                    </div>
        
                   
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block script%}
{% comment %} var replybtn = document.getElementByClassName("btn");
replybtn.id
document.getElementById("myBtn").onclick = function() {myFunction()}; {% endcomment %}
{% comment %} function reply(){
    {% for post in posts %}
        var btn = document.getElementById(('btn' + {{post.id}}))
        var box = document.getElementById("reply"+{{post.id}});
        console.log(box.id + "and" + btn.id)
        if (box.className  == "collapse"){
            box.className = 'uncollapse';
        }else if(box.className  == "uncollapse"){
            box.className  = 'collapse'
        } 
    {% endfor %}
}  {% endcomment %}

 document.addEventListener("click", event => {
    const element = event.target;
    console.log(element.id)
    {% comment %} console.log(box.id {% endcomment %}
    var box = document.getElementById("replyBox" + element.id);
    console.log(box.id)
    if (box.className  == "collapse"){
        box.className = 'uncollapse';
    }else if(box.className  == "uncollapse"){
        box.className  = 'collapse'
    } 
});  

{% endblock %}