{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="container_contact">
    <form id="contactus" action="" method="post">
        {% csrf_token %}
        <h3>Contact us form</h3>       
        <fieldset> <textarea placeholder="Type your message here..." name= "message" tabindex="5" required></textarea> </fieldset>
        <fieldset> <button name="submit" type="submit" id="contactus-submit" data-submit="...Sending">Send Now</button> </fieldset>
    </form>
</div>
{% endblock %}