{% extends "layout.html" %}
{% load static %}
{% block style %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
    body{
        width: 100%;
        height: auto;
        overflow-x: hidden;
        {% comment %} display: flex; {% endcomment %}
        align-items: center;
        justify-content: center;
        background:linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba( 0, 0, 0, 0.2)),url(../images/report.jpg) no-repeat center;
        /* width: 100vw; */
        background-size: cover;
        height: 100vh;
    }
    .nav-pills .active {
        background-color: gray !important;
    }
        .report-1{
        height: 250px;
        width: 500px;
        display: block;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        box-shadow: 15px 7px 14px 1px rgba(0,0,0,0.75);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba( 0, 0, 0, 0.3));
        }
        .report-2{
        height: 500px;
        width: 800px;
        border-radius: 20px;
        display: none;
        box-shadow: 15px 7px 14px 1px rgba(0,0,0,0.75);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba( 0, 0, 0, 0.4));
        }
        .report-2 .btn{
        border-radius: 20px;
        }

        .report-final{
        height: 500px;
        width: 950px;
        /* border: 1px solid rgb(156, 156, 156); */
        border-radius: 20px;
        display: none;
        box-shadow: 15px 7px 14px 1px rgba(0,0,0,0.75);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba( 0, 0, 0, 0.4));

        }
        .village{
        height: 30px;
        width: 300px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba( 0, 0, 0, 0.3));;
        border: 0.3px solid  rgb(156, 156, 156);

        }
        .result-container{
        height: 100px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border:1px solid  rgb(182, 182, 182) ;
        border-radius: 20px;
        background-color: transparent;
        }
        /* .reportf .btn{
        border-radius: 10px;
        } */
        .select_box{
        width: 200px;
        overflow: hidden;
        /* border: 1px solid #000; */
        position: relative;
        /* padding: 10px 0; */
        }
        .select_box:after{
        width: 0; 
        height: 0; 
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid white;
        position: relative;
        outline: none;
        bottom: 15px;
        left: 85%;
        content: "";
        z-index: 98;
        }
        .select_box select{
        width: 220px;
        border: 0;
        position: relative;
        z-index: 99;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba( 0, 0, 0, 0.4));
        }
        .form-select:focus {
        border: none !important; 
        outline: none !important;
        box-shadow: none !important;
        }
        .view{
        display: block;
        }
</style>
{% endblock %}

{% block body2 %}
{% comment %} <div class="container main">
    <div>
        <h4>Generate a Report</h4>
    </div>   
    <div class="row">
        <form action="{% url 'generate' %}" method="post">
            {% csrf_token %}
        <div class="col select">
            <h6>Select village</h6>            
                <select name="District" id="">
                    {% for district in districts %}
                        <option value="{{ district.Name }}">{{ district.Name }}</option>           
                    {% endfor %}   
                </select>          
        </div>        
        <div class="data_main">
            <h6 style="padding-bottom: 4%;">Select data of choice</h6>
            <div class="data">
                <div class="form-check sow">
                    <input class="" type="checkbox" value="" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                      Sowing date
                    </label>
                  </div>
                <div class="form-check harvest">
                    <input class="" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Harvesting date 
                    </label>
                </div>
            </div>
            <!-- <div class="data">            
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Fertilizer Recommendation
                    </label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Pesticide Recommendation
                    </label>
                </div>
            </div>  -->
            <input type="submit">
        </form>         
        </div>
        
    </div>    
    
</div> {% endcomment %}

<section id="Report-2" class="report-2" style="display: block; margin: auto; margin-top: 10%; margin-bottom: 10%;">
    <div class="container">
      <div class="text-center text-light mt-5">
            <h4>Find out available village information with the aid of the advisor</h4>
      </div>
      <form action="{% url 'generate' %}" method="post">
        {% csrf_token %}
            <div class="select_box mx-auto pt-5">
                <div class="text-center p-1">
                <label for="village" class="text-light">Select village</label>
                </div>
                <select class="form-select text-light" style="color: black;" name="District" id="village">
                    {% for district in districts %}
                        <option style="color: black;" value="{{ district.Name }}">{{ district.Name }}</option>           
                    {% endfor %} 
                </select>
            </div>
            <div class=" pt-3 ps-4">
                <h5 class="text-light">Select data of choice</h5>
            </div>
            <div class="row ps-5 pt-4">
                <div class="col-6   text-light">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="sow" checked>
                        <label class="form-check-label" for="sow">
                          Sowing Date
                        </label>
                    </div>
                </div>
                <div class="col-6   text-light">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="harvest" checked>
                        <label class="form-check-label" for="harvest">
                          Harvesting Date
                        </label>
                    </div>
                </div>
            </div>
            <div class="row ps-5 pt-4">                
                <div class="col-6   text-light">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="pest" checked>
                        <label class="form-check-label" for="pest">
                          Pesticide Recommendation
                        </label>
                    </div>
                </div>
            </div>
            <div class="row  mt-5">
                <div class="col-11 text-center">
                    <button class="btn btn-brown  w-50" id="produce" value="Submit" type="submit">Produce Report</button>
                </div>
            </div>
            <!-- <div>
                <select class="form-select w-25 mx-auto text-secondary" aria-label="Default select example"  style="background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba( 0, 0, 0, 0.4));;">
                    <option selected>for example: xyz</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div> -->
            <!-- <div class="text-center pt-5">
                <div class="dropdown" >
                    <button class="btn text-light dropdown-toggle w-25" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" style="border: 2px solid red ;">
                    for example: xyz
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Village 1</a></li>
                    <li><a class="dropdown-item" href="#">Village 2</a></li>
                    <li><a class="dropdown-item" href="#">Village 3</a></li>
                    </ul>
                </div>
            </div> -->
        </form>
    </div>
</section>
{% endblock %}