{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="container main">
    <div>
        <h4>Report result</h4>
    </div>  
            
    <div class="data_main">                
        <div class="data_report">
            <div class="form-check Report_result">                        
                <label class="form-check-label" for="flexCheckDefault" style="font-size: 20px;">
                    Sowing date:
                </label>
                <div><output>{{ sowing }}</output></div>
                
            </div>
            <div class="form-check Report_result">                        
                <label class="form-check-label" for="flexCheckChecked" style="font-size: 20px;">
                    Harvesting date: 
                </label>
                <div> <output>{{ harvesting }}</output></div>
                                       
            </div>
        </div>
        <div class="data_report" style="margin-top: 20px">            
            
            <div class="form-check Report_result">                        
                <label class="form-check-label" for="flexCheckChecked" style="font-size: 20px;">
                    Locust Recommendation
                </label>
                <div><output>{{ locust }}</output></div>                
            </div>
        </div> 
        
        <div class="data_report" style="margin-top: 20px">
            <div class="d-flex justify-content-end pt-3">   
                <button type="button" class="btn btn-primary ms-2"><a href="{% url 'detailReport' year month district sowing harvesting locust %}">Generate Report</a></button>                
            </div> 
            <div class="d-flex justify-content-end pt-3">
                <button type="button" class="btn btn-success ms-2">Submit form</button>
            </div>
        </div>
              
    </div>  
       
        
   
    
</div>
{% endblock %}